@import url('https://fonts.googleapis.com/css2?family=Abel&family=Passion+One:wght@700&family=Roboto:wght@900&family=Rubik:wght@300&display=swap');

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
    background-color: purple;
    margin: 0px;
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family: 'Abel', sans-serif;
    font-family: 'Passion One';
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    margin: 30px 50px 30px 50px;
    color: whitesmoke
}

h2 {
    font-family: 'Abel', sans-serif;
    font-family: 'Passion One';
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* nav {
    justify-content: space-around;
    flex-flow: wrap row;
    background-color: blue;
    font-size: 1rem;
} */

.nav a {
    color: whitesmoke;
    justify-content: right;
    margin-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2.5px;
}